altgraph==0.17
certifi==2021.5.30
chardet==4.0.0
idna==2.10
importlib-metadata==4.5.0
lxml==4.6.3
macholib==1.14
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
python-docx==0.8.11
requests==2.25.1
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
